<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>MaryBill - Record Rep Payment</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <script
      src="https://kit.fontawesome.com/a207e207d8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/ready.css" />
    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="icon" type="image/x-icon" href="/img/app_icon.ico" />
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main-header">
        <div class="logo-header">
          <a href="/admin/dashboard" class="logo">MaryBill Conglomerate</a>
          <button
            class="navbar-toggler sidenav-toggler ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="collapse"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <button class="topbar-toggler more">
            <i class="la la-ellipsis-v"></i>
          </button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
          <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
              <li class="nav-item dropdown">
                <a
                  class="dropdown-toggle profile-pic"
                  data-toggle="dropdown"
                  href="#"
                  aria-expanded="false"
                >
                  <img
                    src="/img/profile-icon.png"
                    alt="user-img"
                    width="36"
                    class="img-circle"
                  /><span>Admin</span>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <a class="dropdown-item" href="/logout"
                    ><i class="fa fa-power-off"></i> Logout</a
                  >
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <%- include('../partials/sidebar') %>
      <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
            <h4 class="page-title">Record Payment for <%= rep.name %></h4>
            <p class="mb-4">
              Current Debt:
              <strong class="text-danger">₦<%= rep.debt %></strong>
            </p>
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-body">
                    <form
                      action="/admin/sales-reps/<%= rep.id %>/payment"
                      method="POST"
                    >
                      <div class="form-group">
                        <label>Amount (₦)</label>
                        <input
                          type="number"
                          step="0.01"
                          name="amount"
                          class="form-control"
                          required
                          placeholder="Enter amount received"
                        />
                      </div>
                      <div class="form-group">
                        <label>Payment Date</label>
                        <input
                          type="date"
                          name="paymentDate"
                          class="form-control"
                          required
                          value="<%= new Date().toISOString().split('T')[0] %>"
                        />
                      </div>
                      <div class="form-group">
                        <label>Payment Method</label>
                        <select name="paymentMethod" class="form-control">
                          <option value="Cash">Cash</option>
                          <option value="Bank Transfer">Bank Transfer</option>
                          <option value="POS">POS</option>
                          <option value="Cheque">Cheque</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Reference</label>
                        <input
                          type="text"
                          name="reference"
                          class="form-control"
                          placeholder="Receipt No. / Bank Ref"
                        />
                      </div>
                      <div class="form-group">
                        <label>Notes</label>
                        <textarea
                          name="notes"
                          class="form-control"
                          rows="3"
                        ></textarea>
                      </div>

                      <button type="submit" class="btn btn-success mt-3">
                        Record Payment
                      </button>
                      <a
                        href="/admin/sales-reps"
                        class="btn btn-danger mt-3 ml-2"
                        >Cancel</a
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/responseMessage') %>
  </body>
  <script src="/js/core/jquery.3.2.1.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/js/ready.min.js"></script>
  <script src="/iziToast-master/dist/js/iziToast.min.js"></script>
  <script src="/js/toast.js"></script>
</html>
