<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MaryBill Conglomerate Ltd. - All Staff</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/ready.css">
	<link rel="stylesheet" href="/css/demo.css">
	<link rel="icon" type="image/x-icon" href="/img/app_icon.ico">

	<link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/admin/dashboard" class="logo">
					MaryBill Conglomerate
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
									src="/img/profile-icon.png" alt="user-img" width="36" class="img-circle"><span>Steven</span></span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
										<div class="u-text">
											<h4>Steven</h4>
											<p class="text-muted">hello@themekita.com</p><a href="#"
												class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
								<a class="dropdown-item" href="#"></i> My Balance</a>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
        <!-- Sidebar -->
		 <div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="/img/profile-icon.png" />
      </div>
      <div class="info">
        <a
          class=""
          data-toggle="collapse"
          href="#collapseExample"
          aria-expanded="true"
        >
          <span>
            Steven
            <span class="user-level">Administrator</span>
            <span class="caret"></span>
          </span>
        </a>
        <div class="clearfix"></div>

        <div class="collapse in" id="collapseExample" aria-expanded="true">
          <ul class="nav">
            <li>
              <a href="#profile">
                <span class="link-collapse">My Profile</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="link-collapse">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="#settings">
                <span class="link-collapse">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a href="/admin/dashboard">
          <i class="fa-solid fa-gauge"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/product-upload">
          <i class="fa-solid fa-upload"></i>
          <p>Upload Product</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/all-products">
          <i class="fa-solid fa-tarp"></i>
          <p>All Products</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/staff/add">
          <i class="fa-solid fa-user-plus"></i>
          <p>Add Staff</p>
        </a>
      </li>
      <li class="nav-item active">
        <a href="/staff/all">
          <i class="fa-solid fa-users"></i>
          <p>All Staff</p>
		  <span class="badge badge-count"><%= staffs.length %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payroll/setup">
          <i class="fa-solid fa-money-check-dollar"></i>
          <p>Payroll Config</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payroll/run">
          <i class="fa-solid fa-play"></i>
          <p>Run Payroll</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payroll/history">
          <i class="fa-solid fa-file-invoice-dollar"></i>
          <p>Payroll History</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/attendance">
          <i class="fa-solid fa-clock"></i>
          <p>Attendance</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/leave/manage">
          <i class="fa-solid fa-calendar-check"></i>
          <p>Leave Mgmt</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/assets/add">
          <i class="fa-solid fa-box-archive"></i>
          <p>Add Asset</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/assets/all">
          <i class="fa-solid fa-boxes-stacked"></i>
          <p>All Assets</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/add">
          <i class="fa-solid fa-book"></i>
          <p>Ledger Entry</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/view">
          <i class="fa-solid fa-book-open"></i>
          <p>View Ledger</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/accounts">
          <i class="fa-solid fa-sitemap"></i>
          <p>Chart of Accounts</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/trial-balance">
          <i class="fa-solid fa-balance-scale"></i>
          <p>Trial Balance</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/balance-sheet">
          <i class="fa-solid fa-file-invoice-dollar"></i>
          <p>Balance Sheet</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/profit-loss">
          <i class="fa-solid fa-money-bill-trend-up"></i>
          <p>Profit & Loss</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <p>Log Out</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End Sidebar -->
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<div class="row m-5">
						<h4 class="col-md-8 page-title"><span class="text-primary">All Staff Members</span></h4>

						<input type="text" id="staffSearch" placeholder="Search by name, email, phone, or level"
							class="col-md-4 form-control mb-3">
					</div>




					<div class="row justify-content-center">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Staff Directory</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-striped">
										<thead>
											<tr>
												<th>Staff ID</th>
												<th>Name</th>
												<th>Department</th>
												<th>Role</th>
												<th>Phone</th>
												<th>Status</th>
												<th class="text-center" style="width: 150px;">Actions</th>
											</tr>
										</thead>
										<tbody>
											<% staffs.forEach((staff, index)=> { %>
												<tr>
													<td><%= staff.staff_id %></td>
													<td>
														<div class="d-flex align-items-center">
															<div class="avatar avatar-sm mr-2">
																<span class="avatar-title rounded-circle border border-white bg-info"><%= staff.first_name.charAt(0) %><%= staff.last_name.charAt(0) %></span>
															</div>
															<div>
																<div class="font-weight-bold"><%= staff.first_name %> <%= staff.last_name %></div>
																<small class="text-muted"><%= staff.email %></small>
															</div>
														</div>
													</td>
													<td><%= staff.department %></td>
													<td><%= staff.job_role %></td>
													<td><%= staff.phone %></td>
													<td>
														<span class="badge badge-<%= staff.employment_status === 'Active' ? 'success' : 'secondary' %>">
															<%= staff.employment_status %>
														</span>
													</td>
													<td class="text-center">
														<div class="btn-group">
															<button type="button" class="btn btn-icon btn-round btn-info btn-sm view-staff-btn"
																data-staff='<%- JSON.stringify(staff).replace(/'/g, "&#39;") %>' title="View Details">
																<i class="fa fa-eye"></i>
															</button>
															<a href="/staff/<%= staff.employee_id %>/update" class="btn btn-icon btn-round btn-primary btn-sm" title="Edit">
																<i class="fa fa-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												<% }) %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Staff Details Modal -->
	<div class="modal fade" id="staffDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h5 class="modal-title">Staff Details</h5>
					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-center mb-4">
							<div class="avatar avatar-xl">
								<span class="avatar-title rounded-circle border border-white bg-info" id="modalAvatar" style="font-size: 2rem;"></span>
							</div>
							<h4 class="mt-2" id="modalName"></h4>
							<p class="text-muted" id="modalRole"></p>
						</div>
					</div>
					
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab">Personal Info</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="financial-tab" data-toggle="tab" href="#financial" role="tab">Financial & Payroll</a>
						</li>
					</ul>
					
					<div class="tab-content mt-3" id="myTabContent">
						<div class="tab-pane fade show active" id="profile" role="tabpanel">
							<div class="row">
								<div class="col-md-6">
									<p><strong>Staff ID:</strong> <span id="modalStaffId"></span></p>
									<p><strong>Email:</strong> <span id="modalEmail"></span></p>
									<p><strong>Phone:</strong> <span id="modalPhone"></span></p>
								</div>
								<div class="col-md-6">
									<p><strong>Department:</strong> <span id="modalDept"></span></p>
									<p><strong>Date Joined:</strong> <span id="modalJoined"></span></p>
									<p><strong>Address:</strong> <span id="modalAddress"></span></p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="financial" role="tabpanel">
							<div class="row">
								<div class="col-md-6">
									<h6 class="text-primary">Bank Details</h6>
									<p><strong>Bank:</strong> <span id="modalBank"></span></p>
									<p><strong>Account Name:</strong> <span id="modalAccName"></span></p>
									<p><strong>Account No:</strong> <span id="modalAccNo"></span></p>
								</div>
								<div class="col-md-6">
									<h6 class="text-primary">Payroll Config</h6>
									<p><strong>Tax ID:</strong> <span id="modalTax"></span></p>
									<p><strong>Pension ID:</strong> <span id="modalPension"></span></p>
									<p><strong>Pay Grade:</strong> <span id="modalStructure"></span></p>
									<p><strong>Basic Salary:</strong> <span id="modalBasic"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<%- include('./partials/responseMessage') %>


</body>
<script src="/js/core/jquery.3.2.1.min.js"></script>
<script src="/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugin/chartist/chartist.min.js"></script>
<script src="/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/iziToast-master/dist/js/iziToast.min.js"></script>
<script src="/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/js/plugin/chart-circle/circles.min.js"></script>
<script src="/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/js/ready.min.js"></script>
<script src="/js/demo.js"></script>

<script src="/js/toast.js"></script>
<script>
	$(document).ready(function() {
		// Search Function
		$("#staffSearch").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("table tbody tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});

		// View Details Modal
		$('.view-staff-btn').click(function() {
			const staff = $(this).data('staff');
			
			// Header
			const firstName = staff.first_name || '';
			const lastName = staff.last_name || '';
			const initials = ((firstName.charAt(0) || '') + (lastName.charAt(0) || '')).toUpperCase();
			
			$('#modalAvatar').text(initials || '?');
			$('#modalName').text(firstName + ' ' + lastName);
			$('#modalRole').text((staff.job_role || 'No Role') + ' - ' + (staff.employment_status || 'Unknown'));
			
			// Profile
			$('#modalStaffId').text(staff.staff_id);
			$('#modalEmail').text(staff.email);
			$('#modalPhone').text(staff.phone);
			$('#modalDept').text(staff.department);
			if (staff.created_at) {
				$('#modalJoined').text(new Date(staff.created_at).toLocaleDateString());
			}
			$('#modalAddress').text(staff.address || 'N/A');

			// Financial
			$('#modalBank').text(staff.bank_name || '-');
			$('#modalAccName').text(staff.account_name || '-');
			$('#modalAccNo').text(staff.account_number || '-');
			
			$('#modalTax').text(staff.tax_id || '-');
			$('#modalPension').text(staff.pension_id || '-');
			$('#modalStructure').text(staff.structure_name || 'Not Assigned');
			
			// Format currency for basic salary
			const basic = parseFloat(staff.basic_salary) || 0;
			$('#modalBasic').text('₦' + basic.toLocaleString());

			$('#staffDetailsModal').modal('show');
		});
	});
</script>

</html>
