<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MaryBill Conglomerate Ltd. - Branch Overview</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/ready.css">
	<link rel="stylesheet" href="/css/demo.css">
	<link rel="icon" type="image/x-icon" href="/img/app_icon.ico">

	<link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
</head>

<body>
	<span class="d-none" id="branchId">
		<%= branch[0].branch_id %>
	</span>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/admin/dashboard" class="logo">
					MaryBill Conglomerate
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i><span class="n-indicator"></span></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<!-- <li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li> -->
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-bell"></i>
								<span class="notification notification-count">0</span>
							</a>
							<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
								<li>
									<div class="dropdown-title notification-title">You have 0 new notification</div>
								</li>
								<li>
									<div class="notif-center">
										<!-- Notification contents goes here -->
									</div>
								</li>
								<li>
									<a class="see-all" href="/branch/<%= branch[0].branch_id %>/notifications"> <strong>See all
											notifications</strong> <i class="la la-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
									src="/img/profile-icon.png" alt="user-img" width="36" class="img-circle"><span>Steven</span></span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
										<div class="u-text">
											<h4>Steven</h4>
											<p class="text-muted">hello@themekita.com</p><a href="#"
												class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
								<a class="dropdown-item" href="#"></i> My Balance</a>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="/img/profile-icon.png">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								Steven
								<span class="user-level">Administrator</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>

						<div class="collapse in" id="collapseExample" aria-expanded="true">
							<ul class="nav">
								<li>
									<a href="#profile">
										<span class="link-collapse">My Profile</span>
									</a>
								</li>
								<li>
									<a href="#edit">
										<span class="link-collapse">Edit Profile</span>
									</a>
								</li>
								<li>
									<a href="#settings">
										<span class="link-collapse">Settings</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a href="/admin/dashboard">
							<i class="fa-solid fa-gauge"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="/branch/<%= branch[0].branch_id %>">
							<i class="fas fa-chart-pie"></i>
							<p>Branch Overview</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/stock-branch/<%= branch[0].branch_id %>">
							<i class="fa-solid fa-arrow-trend-up"></i>
							<p>Stock Branch</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/products">
							<i class="fa-solid fa-tarp"></i>
							<p>Branch Products</p>
							<span class="badge badge-count">
								<%= products.length %>
							</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/sales">
							<i class="fa-solid fa-cart-shopping"></i>
							<p>Sales</p>
							<span class="badge badge-count"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/notifications">
							<i class="far fa-bell"></i>
							<p>Notifications</p>
							<span class="badge badge-count"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/transfer-stock">
							<i class="fa-solid fa-share"></i>
							<p>Transfer Stock</p>
							<span class="badge badge-count"></span>
						</a>
					</li>
										<li class="nav-item">
						<a href="/ledger/add">
							<i class="fa-solid fa-book"></i>
							<p>Ledger Entry</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/view">
							<i class="fa-solid fa-book-open"></i>
							<p>View Ledger</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/accounts">
							<i class="fa-solid fa-sitemap"></i>
							<p>Chart of Accounts</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/trial-balance">
							<i class="fa-solid fa-balance-scale"></i>
							<p>Trial Balance</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/balance-sheet">
							<i class="fa-solid fa-file-invoice-dollar"></i>
							<p>Balance Sheet</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/profit-loss">
							<i class="fa-solid fa-money-bill-trend-up"></i>
							<p>Profit & Loss</p>
						</a>
					</li>
<li class="nav-item">
						<a href="/logout">
							<i class="fas fa-sign-out-alt"></i>
							<p>Log Out</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">
						<%= branch[0].branch_name %> > <span class="text-primary">Overview</span>
					</h4>

					<% if (overview.length < 1) { %>
						<div class="row justify-content-center p-2 text-white">
							<div class="col-md-3 p-5 bg-primary mx-3 mb-3 text-center rounded">
								<h6>Total cost of goods</h6>
								<h6>₦<span>0</span></h6>
							</div>
							<div class="col-md-3 p-5 bg-primary mx-3 mb-3 text-center rounded">
								<h6>Total revenue</h6>
								<h6>₦<span>0</span></h6>
							</div>
							<div class="col-md-3 p-5 bg-primary mx-3 mb-3 text-center rounded">
								<h6>Profit & Loss</h6>
								<h6>₦<span id="profit_or_loss" class="fw-bolder">0</span></h6>
							</div>
						</div>
						<% } else { %>
							<div class="row justify-content-center p-2 text-white">
								<div class="col-md-3 p-5 bg-primary mx-3 mb-3 text-center rounded">
									<h6>Total cost of goods</h6>
									<h6>₦<span>
											<%= !overview[0].total_cost ? 0 : overview[0].total_cost %>
										</span></h6>
								</div>
								<div class="col-md-3 p-5 bg-primary mx-3 mb-3 text-center rounded">
									<h6>Total revenue</h6>
									<h6>₦<span>
											<%= overview[0].total_revenue || 0 %>
										</span></h6>
								</div>
								<div class="col-md-3 p-5 bg-primary mx-3 mb-3 text-center rounded">
									<h6>Profit & Loss</h6>
									<h6>₦<span id="profit_or_loss" class="fw-bolder">
											<%= overview[0].profit_or_loss || 0 %>
										</span></h6>
								</div>
							</div>
							<% } %>



								<div class="row justify-content-center gap-3">


									<!-- Sale & Revenue Start -->
									<div class="container-fluid pt-4 px-4">
										<h5 class="mb-4">Sales Analysis</h5>

										<div class="row g-4">
											<div class="col-sm-6 col-xl-6 mb-3">
												<div class="bg-primary rounded d-flex align-items-center justify-content-between p-4">
													<i class="fa fa-chart-line fa-3x text-primary"></i>
													<div class="ms-3">
														<p class="mb-2 text-white">Total <span class="text-white">Retail</span> Sales Today</p>
														<h6 class="mb-0 text-white">₦ <span id="retailAmountToday">0,00</span></h6>
													</div>
												</div>
											</div>
											<div class="col-sm-6 col-xl-6">
												<div class="bg-primary rounded d-flex align-items-center justify-content-between p-4">
													<i class="fa fa-chart-line fa-3x text-primary"></i>
													<div class="ms-3">
														<p class="mb-2 text-white">Total <span class="text-white">Wholesale</span> Sales Today</p>
														<h6 class="mb-0 text-white">₦ <span id="wholesaleAmountToday">0,00</span></h6>
													</div>
												</div>
											</div>

											<hr>

										</div>
									</div>

									<br><br>
									<!-- Date Range Revenue -->
									<div class="mt-5">
										<h6 class="mb-4">Select Date Range for Sales Analysis</h6>
										<div class="date-range-container bg-primary d-flex mt-3">
											<div>
												<label class="text-white" for="dateRange">Select Date Range:</label>
												<select id="dateRange">
													<option value="">-- Select Range --</option>
													<option value="yesterday">Yesterday</option>
													<option value="last7">Last 7 Days</option>
													<option value="last30">Last 30 Days</option>
													<option value="thisMonth">This Month</option>
													<option value="lastMonth">Last Month</option>
													<option value="thisYear">This Year</option>
													<option value="lastYear">Last Year</option>
													<option value="custom">Custom Range</option>
												</select>
											</div>

											<!-- Custom date pickers -->
											<div>
												<label for="customRange" class="cdr text-white">Custom Date Range:</label>
												<div class="custom-range" id="customRange">
													<input type="date" id="customStart">
													<input type="date" id="customEnd">
												</div>
											</div>

											<div>
												<label class="text-white" for="dateInput">Date Range:</label>
												<input type="text" id="dateInput" placeholder="YYYY-MM-DD - YYYY-MM-DD" readonly />
											</div>
										</div>
									</div>


									<br><br><br>

									<!-- Analysis gotten from daterange -->
									<div class="container-fluid pt-4 px-4">
										<div class="row g-4 d-none" id="dateRangeAnalysis">
											<div class="col-sm-6 col-xl-6 mb-3">
												<div class="bg-primary rounded d-flex align-items-center justify-content-between p-4">
													<i class="fa fa-chart-line fa-3x text-primary"></i>
													<div class="ms-3">
														<p class="mb-2 text-white">Total Retail Sales</p>
														<h6 class="mb-0 text-white">₦ <span id="retailAmountFromRange">0,00</span></h6>
													</div>
												</div>
											</div>
											<div class="col-sm-6 col-xl-6">
												<div class="bg-primary rounded d-flex align-items-center justify-content-between p-4">
													<i class="fa fa-chart-line fa-3x text-primary"></i>
													<div class="ms-3">
														<p class="mb-2 text-white">Total Wholesale Sales</p>
														<h6 class="mb-0 text-white">₦ <span id="wholesaleAmountFromRange">0,00</span></h6>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Analysis -->

									<!-- stopped -->
								</div>

				</div>
			</div>
		</div>
	</div>
	</div>

	<%- include('./partials/responseMessage') %>
</body>
<script src="/js/core/jquery.3.2.1.min.js"></script>
<script src="/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugin/chartist/chartist.min.js"></script>
<script src="/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<!-- <script src="/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> -->
<script src="/iziToast-master/dist/js/iziToast.min.js"></script>
<script src="/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/js/plugin/chart-circle/circles.min.js"></script>
<script src="/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/js/ready.min.js"></script>
<script src="/js/demo.js"></script>

<script src="/js/analysis.js"></script>
<script src="/js/daterange.js"></script>
<!-- <script src="/js/toast.js"></script> -->

<script src="/js/getNotifications.js"></script>

<script>
	const profitOrLoss = document.getElementById('profit_or_loss');

	if (profitOrLoss.innerHTML < 0) {
		profitOrLoss.parentElement.style.color = 'red'
	}
</script>

</html>