<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MaryBill Conglomerate Ltd. - Branch Products</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/ready.css">
	<link rel="stylesheet" href="/css/demo.css">
	<link rel="icon" type="image/x-icon" href="/img/app_icon.ico">

	<link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
</head>

<body>
	<span class="d-none" id="branchId">
		<%= branch[0].branch_id %>
	</span>

	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/admin/dashboard" class="logo">
					MaryBill Conglomerate
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i><span class="n-indicator"></span></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<!-- <li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li> -->
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-bell"></i>
								<span class="notification notification-count">0</span>
							</a>
							<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
								<li>
									<div class="dropdown-title notification-title">You have 0 new notification</div>
								</li>
								<li>
									<div class="notif-center">
										<!-- Notification contents goes here -->
									</div>
								</li>
								<li>
									<a class="see-all" href="/branch/<%= branch[0].branch_id %>/notifications"> <strong>See all
											notifications</strong> <i class="la la-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
									src="/img/profile-icon.png" alt="user-img" width="36" class="img-circle"><span>Steven</span></span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
										<div class="u-text">
											<h4>Steven</h4>
											<p class="text-muted">hello@themekita.com</p><a href="#"
												class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
								<a class="dropdown-item" href="#"></i> My Balance</a>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="/img/profile-icon.png">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								Steven
								<span class="user-level">Administrator</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>

						<div class="collapse in" id="collapseExample" aria-expanded="true">
							<ul class="nav">
								<li>
									<a href="#profile">
										<span class="link-collapse">My Profile</span>
									</a>
								</li>
								<li>
									<a href="#edit">
										<span class="link-collapse">Edit Profile</span>
									</a>
								</li>
								<li>
									<a href="#settings">
										<span class="link-collapse">Settings</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a href="/admin/dashboard">
							<i class="fa-solid fa-gauge"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>">
							<i class="fas fa-chart-pie"></i>
							<p>Branch Overview</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/stock-branch/<%= branch[0].branch_id %>">
							<i class="fa-solid fa-arrow-trend-up"></i>
							<p>Stock Branch</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="/branch/<%= branch[0].branch_id %>/products">
							<i class="fa-solid fa-tarp"></i>
							<p>Branch Products</p>
							<span class="badge badge-count">
								<%= products.length %>
							</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/sales">
							<i class="fa-solid fa-cart-shopping"></i>
							<p>Sales</p>
							<span class="badge badge-count"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/notifications">
							<i class="far fa-bell"></i>
							<p>Notifications</p>
							<span class="badge badge-count"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/branch/<%= branch[0].branch_id %>/transfer-stock">
							<i class="fa-solid fa-share"></i>
							<p>Transfer Stock</p>
							<span class="badge badge-count"></span>
						</a>
					</li>
										
      <li class="nav-item">
        <a href="/customers">
          <i class="fa-solid fa-users-viewfinder"></i>
          <p>Customers</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/invoices">
          <i class="fa-solid fa-file-invoice"></i>
          <p>Invoices</p>
        </a>
      </li>
<li class="nav-item">
						<a href="/ledger/add">
							<i class="fa-solid fa-book"></i>
							<p>Ledger Entry</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/view">
							<i class="fa-solid fa-book-open"></i>
							<p>View Ledger</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/accounts">
							<i class="fa-solid fa-sitemap"></i>
							<p>Chart of Accounts</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/trial-balance">
							<i class="fa-solid fa-balance-scale"></i>
							<p>Trial Balance</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/balance-sheet">
							<i class="fa-solid fa-file-invoice-dollar"></i>
							<p>Balance Sheet</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/ledger/profit-loss">
							<i class="fa-solid fa-money-bill-trend-up"></i>
							<p>Profit & Loss</p>
						</a>
					</li>
<li class="nav-item">
						<a href="/logout">
							<i class="fas fa-sign-out-alt"></i>
							<p>Log Out</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">
						<%= branch[0].branch_name %> > <span class="text-primary">Products</span>
					</h4>
					<div class="row justify-content-center">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Products Details</div>
								<button class="btn btn-primary btn-sm" id="exportPdfBtn" style="float: right;">
									<i class="fas fa-file-pdf"></i> Export to PDF
								</button>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th>Wholesale Cost Price</th>
												<th>Wholesale Selling Price</th>
												<th>Retail Cost Price</th>
												<th>Retail Selling Price</th>
												<th>Supplier</th>
												<th>Category</th>
												<th>Wholesale Quantity Left</th>
												<th>Retail Quantity Left</th>
												<th>Status</th>
												<!-- <th>Action</th> -->
											</tr>
										</thead>
										<tbody>
											<% products.forEach((product, index)=> { %>
												<tr>
													<th scope="row">
														<%= index + 1 %>
													</th>
													<td>
														<%= product.product_name %>
													</td>
													<td>
														<%= product.wholesale_cost_price ? `₦${product.wholesale_cost_price}` : 'N/A' %>
													</td>
													<td>
														<%= product.wholesale_selling_price ? `₦${product.wholesale_selling_price}` : 'N/A' %>
													</td>
													<td>
														<%= product.retail_cost_price ? `₦${product.retail_cost_price}` : 'N/A' %>
													</td>
													<td>
														<%= product.retail_selling_price ? `₦${product.retail_selling_price}` : 'N/A' %>
													</td>
													<td>
														<%= product.name %>
													</td>
													<td>
														<%= product.category %>
													</td>
													<td>
														<%= product.stock_quantity_wholesale %>
													</td>
													<td>
														<%= product.stock_quantity_retail %>
													</td>
													<td>
														<%= product.status %>
													</td>
													<!-- <td><button class="btn-sm btn-primary"
															style="cursor: pointer;">Edit</button></td> -->
												</tr>
												<% }) %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>

	<%- include('./partials/responseMessage') %>
</body>
<script src="/js/core/jquery.3.2.1.min.js"></script>
<script src="/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugin/chartist/chartist.min.js"></script>
<script src="/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<!-- <script src="/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> -->
<script src="/iziToast-master/dist/js/iziToast.min.js"></script>
<script src="/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/js/plugin/chart-circle/circles.min.js"></script>
<script src="/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/js/ready.min.js"></script>
<script src="/js/demo.js"></script>

<script src="/js/getNotifications.js"></script>

<script src="/js/toast.js"></script>

	<!-- jsPDF library for PDF generation -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.31/jspdf.plugin.autotable.min.js"></script>

	<script>
		document.getElementById('exportPdfBtn').addEventListener('click', function() {
			const { jsPDF } = window.jspdf;
			const doc = new jsPDF('l', 'mm', 'a4'); // landscape orientation

			// Get branch name
			const branchName = '<%= branch[0].branch_name %>';
			
			// Add title
			doc.setFontSize(18);
			doc.text('MaryBill Conglomerate Ltd.', 14, 15);
			doc.setFontSize(14);
			doc.text(`${branchName} - Products Report`, 14, 22);
			doc.setFontSize(10);
			doc.text(`Generated on: ${new Date().toLocaleString()}`, 14, 28);

			// Prepare table data
			const tableData = [];
			<% products.forEach((product, index) => { %>
				tableData.push([
					'<%= index + 1 %>',
					'<%= product.product_name %>',
					'<%= product.wholesale_cost_price ? `NGN ${product.wholesale_cost_price}` : "N/A" %>',
					'<%= product.wholesale_selling_price ? `NGN ${product.wholesale_selling_price}` : "N/A" %>',
					'<%= product.retail_cost_price ? `NGN ${product.retail_cost_price}` : "N/A" %>',
					'<%= product.retail_selling_price ? `NGN ${product.retail_selling_price}` : "N/A" %>',
					'<%= product.name %>',
					'<%= product.category %>',
					'<%= product.stock_quantity_wholesale %>',
					'<%= product.stock_quantity_retail %>',
					'<%= product.status %>'
				]);
			<% }); %>

			// Add table
			doc.autoTable({
				head: [['#', 'Name', 'W. Cost', 'W. Selling', 'R. Cost', 'R. Selling', 'Supplier', 'Category', 'W. Qty', 'R. Qty', 'Status']],
				body: tableData,
				startY: 32,
				styles: { fontSize: 8, cellPadding: 2 },
				headStyles: { fillColor: [52, 73, 94], textColor: 255, fontStyle: 'bold' },
				alternateRowStyles: { fillColor: [245, 245, 245] },
				margin: { top: 32, left: 14, right: 14 }
			});

			// Save the PDF
			const fileName = `${branchName.replace(/\s+/g, '_')}_Products_${new Date().toISOString().split('T')[0]}.pdf`;
			doc.save(fileName);
		});
	</script>

</html>