<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>MaryBill Conglomerate Ltd. - Branch Sales</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/ready.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/sales.css">

    <link rel="icon" type="image/x-icon" href="/img/app_icon.ico">

    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
</head>

<body>
    <span class="d-none" id="branchId">
        <%= branch[0].branch_id %>
    </span>
    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header">
                <a href="/admin/dashboard" class="logo">
                    MaryBill Conglomerate
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i><span
                        class="n-indicator"></span></button>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">

                    <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                        <div class="input-group">
                            <input type="text" placeholder="Search ..." class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-search search-icon"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <!-- <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-envelope"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> -->
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-bell"></i>
                                <span class="notification notification-count">0</span>
                            </a>
                            <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                                <li>
                                    <div class="dropdown-title notification-title">You have 0 new notification</div>
                                </li>
                                <li>
                                    <div class="notif-center">
                                        <!-- Notification contents goes here -->
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="/branch/<%= branch[0].branch_id %>/notifications">
                                        <strong>See all
                                            notifications</strong> <i class="la la-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false"> <img src="/img/profile-icon.png" alt="user-img" width="36"
                                    class="img-circle"><span>Steven</span></span> </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <div class="user-box">
                                        <div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
                                        <div class="u-text">
                                            <h4>Steven</h4>
                                            <p class="text-muted">hello@themekita.com</p><a href="#"
                                                class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
                                <a class="dropdown-item" href="#"></i> My Balance</a>
                                <a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
		<!-- Sidebar -->
		<%- include('partials/sidebar') %>
		<!-- End Sidebar -->
		
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">
                        <span id="bName">
                            <%= branch[0].branch_name %>
                        </span> > <span class="text-primary">Branch Sales</span>
                    </h4>
                    <div class="row justify-content-center">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">All Sales</div>
                                <button class="btn btn-primary btn-sm" id="exportPdfBtn" style="float: right;">
                                    <i class="fas fa-file-pdf"></i> Export to PDF
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Customer</th>
                                                <th>Customer Phone No.</th>
                                                <th>Total amount</th>
                                                <th>Payment method</th>
                                                <th>Sales Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% branchSales.forEach((sale, index)=> { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <%= sale.customer_name %>
                                                    </td>
                                                    <td>
                                                        <%= sale.customer_phoneNo ? sale.customer_phoneNo : 'N/A' %>
                                                    </td>
                                                    <td>
                                                        ₦<%= sale.total_amount %>
                                                    </td>
                                                    <td>
                                                        <%= sale.payment_method %>
                                                    </td>
                                                    <td>
                                                        <%= sale.sale_date %>
                                                    </td>
                                                    <td><button id="<%= sale.sale_id %>"
                                                            class="btn-sm btn-primary  view-sale-details-btn"
                                                            data-bs-toggle="modal" data-bs-target="#invoiceModal"
                                                            style="cursor: pointer;">View invoice</button></td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- start modal invoice -->
            <!-- Modal -->
            <div class="modal fade bg-secondary" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content modal-dialog-scrollable">
                        <div class="modal-header">
                            <h5 class="modal-title" id="invoiceModalLabel">Invoice</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="printableInvoice" class="invoice-box">
                                <!-- Header -->
                                <div class="row invoice-header align-items-center">
                                    <div class="col-6">
                                        <div class="d-block">
                                            <img src="/img/app-icon.jpg" alt="Invoice Icon" />
                                            <br>
                                            <span class="invoice-title ms-2">Invoice</span>
                                        </div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <strong id="branch">Mary Bill Conglomerate</strong><br>
                                        Nigeria
                                    </div>
                                </div>

                                <!-- Bill To -->
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <strong>BILL TO:</strong><br>
                                        <p><strong>Customer: </strong><span id="customer">Walk in customer</span> <br>
                                            <strong>Payment
                                                method:
                                            </strong><span id="paymentMethod">Cash</span>
                                        </p>
                                    </div>
                                    <div class="col-6 text-end">
                                        <strong>DATE:</strong> <span id="saleDate"></span><br>
                                    </div>
                                </div>

                                <!-- Items Table -->
                                <div id="invoiceHolder" class="table-responsive mb-4">

                                </div>

                                <button id="printBtn" class="btn invoice-print-btn form-control">Print invoice</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('./partials/responseMessage') %>
</body>
<script src="/js/salesJs.js"></script>

<script src="/js/core/jquery.3.2.1.min.js"></script>
<script src="/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugin/chartist/chartist.min.js"></script>
<script src="/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<!-- <script src="/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> -->
<script src="/iziToast-master/dist/js/iziToast.min.js"></script>
<script src="/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/js/plugin/chart-circle/circles.min.js"></script>
<script src="/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/js/ready.min.js"></script>
<script src="/js/demo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>

<script src="/js/toast.js"></script>
<script src="/js/getNotifications.js"></script>

	<!-- jsPDF library for PDF generation -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.31/jspdf.plugin.autotable.min.js"></script>

	<script>
		document.getElementById('exportPdfBtn').addEventListener('click', function() {
			const { jsPDF } = window.jspdf;
			const doc = new jsPDF('p', 'mm', 'a4'); // portrait orientation

			// Get branch name
			const branchName = '<%= branch[0].branch_name %>';
			
			// Add title
			doc.setFontSize(18);
			doc.text('MaryBill Conglomerate Ltd.', 14, 15);
			doc.setFontSize(14);
			doc.text(`${branchName} - Sales Report`, 14, 22);
			doc.setFontSize(10);
			doc.text(`Generated on: ${new Date().toLocaleString()}`, 14, 28);

			// Calculate total sales
			let totalSales = 0;
			<% branchSales.forEach((sale) => { %>
				totalSales += parseFloat('<%= sale.total_amount %>');
			<% }); %>

			// Add summary
			doc.setFontSize(10);
			doc.text(`Total Sales: NGN ${totalSales.toLocaleString()}`, 14, 34);
			doc.text(`Number of Transactions: <%= branchSales.length %>`, 14, 40);

			// Prepare table data
			const tableData = [];
			<% branchSales.forEach((sale, index) => { %>
				tableData.push([
					'<%= index + 1 %>',
					'<%= sale.customer_name %>',
					'<%= sale.customer_phoneNo ? sale.customer_phoneNo : "N/A" %>',
					'NGN <%= sale.total_amount %>',
					'<%= sale.payment_method %>',
					'<%= sale.sale_date %>'
				]);
			<% }); %>

			// Add table
			doc.autoTable({
				head: [['#', 'Customer', 'Phone', 'Total Amount', 'Payment Method', 'Sale Date']],
				body: tableData,
				startY: 45,
				styles: { fontSize: 9, cellPadding: 3 },
				headStyles: { fillColor: [52, 73, 94], textColor: 255, fontStyle: 'bold' },
				alternateRowStyles: { fillColor: [245, 245, 245] },
				margin: { top: 45, left: 14, right: 14 }
			});

			// Save the PDF
			const fileName = `${branchName.replace(/\s+/g, '_')}_Sales_${new Date().toISOString().split('T')[0]}.pdf`;
			doc.save(fileName);
		});
	</script>

</html>