<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MaryBill Conglomerate Ltd. - Stock Branch</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/css/ready.css">
	<link rel="stylesheet" href="/css/demo.css">
	<link rel="icon" type="image/x-icon" href="/img/app_icon.ico">

	<link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
</head>

<body>
	<span class="d-none" id="branchId">
		<%= branch[0].branch_id %>
	</span>

	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/admin/dashboard" class="logo">
					MaryBill Conglomerate
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i><span class="n-indicator"></span></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<!-- <li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li> -->
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-bell"></i>
								<span class="notification notification-count">0</span>
							</a>
							<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
								<li>
									<div class="dropdown-title notification-title">You have 0 new notification</div>
								</li>
								<li>
									<div class="notif-center">
										<!-- Notification contents goes here -->
									</div>
								</li>
								<li>
									<a class="see-all" href="/branch/<%= branch[0].branch_id %>/notifications"> <strong>See all
											notifications</strong> <i class="la la-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
									src="/img/profile-icon.png" alt="user-img" width="36" class="img-circle"><span>Steven</span></span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
										<div class="u-text">
											<h4>Steven</h4>
											<p class="text-muted">hello@themekita.com</p><a href="#"
												class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
								<a class="dropdown-item" href="#"></i> My Balance</a>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
		
		<!-- Sidebar -->
		<%- include('./partials/branch-sidebar') %>
		<!-- End Sidebar -->
		
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">
						<%= branch[0].branch_name %> > <span class="text-primary">Stock</span>
					</h4>
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card" style="background-color: #f2f3f8 !important; box-shadow: none; border: none;">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="tab-btn nav-link text-primary active" id="home-tab" data-bs-toggle="tab"
											data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"
											style="padding: 30px; padding-left: 50px; padding-right: 50px;">Wholesale</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="tab-btn nav-link text-primary" id="profile-tab" data-bs-toggle="tab"
											data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"
											style="padding: 30px; padding-left: 50px; padding-right: 50px;">Retail</button>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content bg-white" id="myTabContent">
									<!-- Wholesale Tab -->
									<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

										<form action="/stock-branch-wholesale/<%= branch[0].branch_id %>" method="POST">
											<div class="card-header">
												<div class="card-title">Select Product and the quantity</div>
											</div>
											<div class="card-body">
												<div class=" form-group">
													<label for="products">Select Product</label>
													<select class="form-control" id="products" name="productId" required>
														<option value="">Select Product</option>
														<% products.forEach(product=> { %>
															<option value="<%= product.product_id %>">
																<%= product.product_name %>
															</option>
															<% }) %>
													</select>
												</div>

												<div class="form-group">
													<label for="quantity">Wholesale Quantity</label>
													<input type="number" class="form-control" id="quantity" name="wholesaleQuantity"
														placeholder="Enter wholsale quantity" value="1" required>
												</div>
											</div>
											<div class="card-action">
												<button class="btn btn-success">Submit</button>
												<input class="btn btn-danger" type="reset">
											</div>
										</form>
									</div>

									<!-- Retail Tab -->
									<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

										<form action="/stock-branch-retail/<%= branch[0].branch_id %>" method="POST">
											<div class="card-header">
												<div class="card-title">Select Product and the quantity</div>
											</div>
											<div class="card-body">
												<div class="form-group">
													<label for="products">Select Product</label>
													<select class="form-control" id="products" name="productId" required>
														<option value="">Select Product</option>
														<% products.forEach(product=> { %>
															<option value="<%= product.product_id %>">
																<%= product.product_name %>
															</option>
															<% }) %>
													</select>
												</div>

												<div class="form-group">
													<label for="quantity">Retail Quantity</label>
													<input type="number" class="form-control" id="quantity" name="retailQuantity"
														placeholder="Enter retail quantity" value="1" required>
												</div>
											</div>
											<div class="card-action">
												<button class="btn btn-success">Submit</button>
												<input class="btn btn-danger" type="reset">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header justify-content-center">
					<h5 class="modal-title text-center fw-bold text-primary" id="exampleModalLabel">Price for product
						not set</h5>
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="modal-body text-center">
					<p id="modalBodyMessage"></p>
					<p>Click the button below to set price of the product</p>
				</div>
				<div class="modal-footer justify-content-center">
					<a type="button" id="productEditLink" class="btn btn-primary text-white">Set price &rightarrow;</a>
				</div>
			</div>
		</div>
	</div>



	<%- include('./partials/responseMessage') %>
</body>
<script src="/js/core/jquery.3.2.1.min.js"></script>
<script src="/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/plugin/chartist/chartist.min.js"></script>
<script src="/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<!-- <script src="/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> -->
<script src="/iziToast-master/dist/js/iziToast.min.js"></script>
<script src="/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/js/plugin/chart-circle/circles.min.js"></script>
<script src="/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/js/ready.min.js"></script>
<script src="/js/demo.js"></script>

<script src="/js/getNotifications.js"></script>

<script src="/js/toast.js"></script>

<script>
	function getCookie(name) {
		const cookies = document.cookie.split('; ');
		for (const cookie of cookies) {
			const [cookieName, cookieValue] = cookie.split('=');
			if (cookieName === name) {
				return decodeURIComponent(cookieValue);
			}
		}
		return null; // cookie not found
	}

	document.addEventListener('DOMContentLoaded', () => {
		var message = document.getElementById('message').innerHTML;
		message = message.trim();


		// Check error message to show modal
		if (message.includes('price has not been set for this product')) {
			document.getElementById('modalBodyMessage').innerHTML = message;
			document.getElementById('productEditLink').setAttribute('href', `/product/${getCookie('productId')}/update`);

			$('#messageModal').modal('show');
		}
	})




</script>

</html>