<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Update Staff - MaryBill</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/ready.css">
	<link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
			<div class="logo-header">
				<a href="/admin/dashboard" class="logo">
					MaryBill Conglomerate
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
									src="/img/profile-icon.png" alt="user-img" width="36" class="img-circle"><span>Steven</span></span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
										<div class="u-text">
											<h4>Steven</h4>
											<p class="text-muted">hello@themekita.com</p><a href="#"
												class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
								<a class="dropdown-item" href="#"></i> My Balance</a>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
        <!-- Sidebar -->
		 <div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="/img/profile-icon.png" />
      </div>
      <div class="info">
        <a
          class=""
          data-toggle="collapse"
          href="#collapseExample"
          aria-expanded="true"
        >
          <span>
            Steven
            <span class="user-level">Administrator</span>
            <span class="caret"></span>
          </span>
        </a>
        <div class="clearfix"></div>

        <div class="collapse in" id="collapseExample" aria-expanded="true">
          <ul class="nav">
            <li>
              <a href="#profile">
                <span class="link-collapse">My Profile</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="link-collapse">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="#settings">
                <span class="link-collapse">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a href="/admin/dashboard">
          <i class="fa-solid fa-gauge"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/product-upload">
          <i class="fa-solid fa-upload"></i>
          <p>Upload Product</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/all-products">
          <i class="fa-solid fa-tarp"></i>
          <p>All Products</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/staff/add">
          <i class="fa-solid fa-user-plus"></i>
          <p>Add Staff</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/staff/all">
          <i class="fa-solid fa-users"></i>
          <p>All Staff</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payroll/setup">
          <i class="fa-solid fa-money-check-dollar"></i>
          <p>Payroll Config</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payroll/run">
          <i class="fa-solid fa-play"></i>
          <p>Run Payroll</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payroll/history">
          <i class="fa-solid fa-file-invoice-dollar"></i>
          <p>Payroll History</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/attendance">
          <i class="fa-solid fa-clock"></i>
          <p>Attendance</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/leave/manage">
          <i class="fa-solid fa-calendar-check"></i>
          <p>Leave Mgmt</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/assets/add">
          <i class="fa-solid fa-box-archive"></i>
          <p>Add Asset</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/assets/all">
          <i class="fa-solid fa-boxes-stacked"></i>
          <p>All Assets</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/add">
          <i class="fa-solid fa-book"></i>
          <p>Ledger Entry</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/view">
          <i class="fa-solid fa-book-open"></i>
          <p>View Ledger</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/accounts">
          <i class="fa-solid fa-sitemap"></i>
          <p>Chart of Accounts</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/trial-balance">
          <i class="fa-solid fa-balance-scale"></i>
          <p>Trial Balance</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/balance-sheet">
          <i class="fa-solid fa-file-invoice-dollar"></i>
          <p>Balance Sheet</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/ledger/profit-loss">
          <i class="fa-solid fa-money-bill-trend-up"></i>
          <p>Profit & Loss</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <p>Log Out</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End Sidebar -->
        
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">Update Staff</h4>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Employee Details</h4>
                                </div>
                                <div class="card-body">
                                    <form action="/staff/<%= staff.employee_id %>/update" method="POST">
                                        <h6 class="text-uppercase border-bottom pb-2 mb-3 text-primary">Personal Information</h6>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" name="firstName" value="<%= staff.first_name %>" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" name="lastName" value="<%= staff.last_name %>" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input type="email" class="form-control" name="email" value="<%= staff.email %>" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="tel" class="form-control" name="phone" value="<%= staff.phone %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Residential Address</label>
                                            <textarea class="form-control" name="address" rows="2"><%= staff.address %></textarea>
                                        </div>

                                        <h6 class="text-uppercase border-bottom pb-2 mb-3 mt-4 text-primary">Job Details</h6>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Department</label>
                                                    <input type="text" class="form-control" name="department" value="<%= staff.department %>" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Job Role</label>
                                                    <input type="text" class="form-control" name="jobRole" value="<%= staff.job_role %>" required>
                                                </div>
                                            </div>
                                        </div>

                                        <h6 class="text-uppercase border-bottom pb-2 mb-3 mt-4 text-primary">Financial & Payroll Config</h6>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Bank Name</label>
                                                    <input type="text" class="form-control" name="bankName" value="<%= staff.bank_name %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Account Number</label>
                                                    <input type="text" class="form-control" name="accountNumber" value="<%= staff.account_number %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Account Name</label>
                                                    <input type="text" class="form-control" name="accountName" value="<%= staff.account_name %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tax ID (PAYE)</label>
                                                    <input type="text" class="form-control" name="taxId" value="<%= staff.tax_id %>">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Pension ID</label>
                                                    <input type="text" class="form-control" name="pensionId" value="<%= staff.pension_id %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Salary Structure (Pay Grade)</label>
                                                    <select class="form-control" name="structureId">
                                                        <option value="">-- Custom / None --</option>
                                                        <% structures.forEach(s => { %>
                                                            <option value="<%= s.structure_id %>" <%= staff.structure_id === s.structure_id ? 'selected' : '' %>><%= s.name %></option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Basic Salary Override (If Custom)</label>
                                                    <input type="number" class="form-control" name="basicSalary" value="<%= staff.basic_salary %>" step="0.01">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-action">
                                            <button type="submit" class="btn btn-success">Update Details</button>
                                            <a href="/staff/all" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('./partials/responseMessage') %>
</body>
<script src="/js/core/jquery.3.2.1.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/iziToast-master/dist/js/iziToast.min.js"></script>
<script src="/js/ready.min.js"></script>
<script src="/js/toast.js"></script>
</html>
