<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Attendance - MaryBill</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <script
      src="https://kit.fontawesome.com/a207e207d8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/ready.css" />
    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main-header">
			<div class="logo-header">
				<a href="/admin/dashboard" class="logo">
					MaryBill Conglomerate
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
									src="/img/profile-icon.png" alt="user-img" width="36" class="img-circle"><span>Steven</span></span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/img/profile-icon.png" alt="user"></div>
										<div class="u-text">
											<h4>Steven</h4>
											<p class="text-muted">hello@themekita.com</p><a href="#"
												class="btn btn-rounded btn-danger btn-sm">View Profile</a>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
								<a class="dropdown-item" href="#"></i> My Balance</a>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- Sidebar -->
		<%- include('../partials/sidebar') %>
		<!-- End Sidebar -->

      <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
            <h4 class="page-title">Attendance Dashboard (<%= today %>)</h4>

            <div class="row">
              <!-- Clock In/Out Panel (Admin Simulation) -->
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Action Panel</h4>
                  </div>
                  <div class="card-body">
                    <h6 class="text-uppercase">Clock In</h6>
                    <form
                      action="/attendance/clock-in"
                      method="POST"
                      class="mb-4"
                    >
                      <div class="form-group">
                        <select class="form-control" name="employeeId" required>
                          <option value="">Select Employee</option>
                          <% allStaff.forEach(s => { %>
                          <option value="<%= s.employee_id %>">
                            <%= s.first_name %> <%= s.last_name %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-success btn-block">
                        Clock In
                      </button>
                    </form>

                    <h6 class="text-uppercase border-top pt-3">Clock Out</h6>
                    <form action="/attendance/clock-out" method="POST">
                      <div class="form-group">
                        <select class="form-control" name="employeeId" required>
                          <option value="">Select Employee</option>
                          <% allStaff.forEach(s => { %>
                          <option value="<%= s.employee_id %>">
                            <%= s.first_name %> <%= s.last_name %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-warning btn-block">
                        Clock Out
                      </button>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Daily Attendance List -->
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Today's Attendance</h4>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Employee</th>
                          <th>Department</th>
                          <th>Clock In</th>
                          <th>Clock Out</th>
                          <th>Status</th>
                          <th>Overtime</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% dailyAttendance.forEach(a => { %>
                        <tr>
                          <td><%= a.first_name %> <%= a.last_name %></td>
                          <td><%= a.department %></td>
                          <td>
                            <%= new Date(a.clock_in).toLocaleTimeString() %>
                          </td>
                          <td>
                            <%= a.clock_out ? new
                            Date(a.clock_out).toLocaleTimeString() : '-' %>
                          </td>
                          <td>
                            <span
                              class="badge badge-<%= a.status == 'Present' ? 'success' : 'secondary' %>"
                            >
                              <%= a.status %>
                            </span>
                          </td>
                          <td>
                            <%= a.overtime_hours > 0 ? a.overtime_hours + ' hrs'
                            : '-' %>
                          </td>
                        </tr>
                        <% }) %> <% if(dailyAttendance.length === 0) { %>
                        <tr>
                          <td colspan="6" class="text-center">
                            No attendance records for today.
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/responseMessage') %>
  </body>
  <script src="/js/core/jquery.3.2.1.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/iziToast-master/dist/js/iziToast.min.js"></script>
  <script src="/js/ready.min.js"></script>
  <script src="/js/toast.js"></script>
</html>
